<div class="container mt-3">
    <div class="text-center">
        <h1>Voter Registration Form</h1>
        <h5 class="mt-3">Please Enter Your Details!!</h5>
    </div>
    <form [formGroup]="voterReg" (ngSubmit)="voterregister()">
        <div class="mb-3">
            <label for="InputcollegeId" class="form-label">College ID</label>
            <input formControlName="college_id" type="number" class="form-control" id="InputcollegeId">
            <span class="text-danger" *ngIf="voterReg.controls['college_id'].dirty && voterReg.hasError('required','college_id')">*College ID is required</span>
        </div>
        <div class="mb-3">
            <label for="InputFirstName" class="form-label">First Name</label>
            <input formControlName="firstname" type="text" class="form-control" id="InputFirstName">
            <span class="text-danger" *ngIf="voterReg.controls['firstname'].dirty && voterReg.hasError('required','firstname')">*First Name is required</span>
        </div>
        <div class="mb-3">
            <label for="InputLastName" class="form-label">Last Name</label>
            <input formControlName="lastname" type="text" class="form-control" id="InputLastName">
            <span class="text-danger" *ngIf="voterReg.controls['lastname'].dirty && voterReg.hasError('required','lastname')">*Last Name is required</span>
        </div>
        <div class="mb-3">
            <label for="Inputemail" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="Inputemail">
            <span class="text-danger" *ngIf="voterReg.controls['email'].dirty && voterReg.hasError('required','email')">*Email Id is required</span>
        </div>
        <div class="mb-3">
            <label for="Inputpassword" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="Inputpassword">
            <span class="text-danger" *ngIf="voterReg.controls['password'].dirty && voterReg.hasError('required','password')">*Password is required</span>
        </div>
        <button type="submit" [disabled]="!voterReg.valid" class="btn btn-primary">Register</button>
    </form>
</div>

<!-- Footer -->
<section id="footer">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 pt-3">
                <h5>Contact College Board</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>798 South Park Avenue, Jaipur, Raj</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><a href="mailto:#">AVScollege@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Phone No:</dt>
                    <dd><a href="tel:#">+917986543201</a> <span>or</span> <a href="tel:#">+919012345678</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 text-center pt-3">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <p><u><a href="home">Automated Voting System</a></u> is a Voting System for College Student election</p>
                <p class="h6">© 2022 All right Reversed.<a class="ml-2" href="#" target="_blank" style="text-decoration: none;">AVS College</a></p>
            </div>
            <div class="col-md-4 pt-3">
                <ul class="list-unstyled px-4 quick-links">
                    <li class="pb-3">
                        <a href="home">Home</a>
                    </li>
                    <li class="pb-3">
                        <a href="voterregister">Voter Register</a>
                    </li>
                    <li class="pb-3">
                        <a href="candregister">Candidate Register</a>
                    </li>
                    <li class="pb-3">
                        <a href="result">Result</a>
                    </li>
                    <li class="pb-3">
                        <a href="login">Admin Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
