@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* carousel */
.carousel-item img{
    height:500px;
}

/* candidate list cards */
.card {
    padding: 20px;
    margin: 50px;
}
.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    /* transition: 0.3s ease-in-out; */
}


/* Footer */
#footer{
    background-color: rgb(155,175,217);
    /* margin-top: 5px; */
}
#footer .quick-links li a{
    padding:5px 100px;
    font-weight: 600;
    color:black ;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a{
	color:black;
}
#footer ul.social li a:hover{
	color:rgb(253, 93, 45);
}
